.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  margin: 0;
}

.logo {
  cursor: pointer;
  font-size: 2em;
  margin: 0;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  margin: 0;
  width: auto;
  flex: 1;
}

.navbar-search-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.navbar-search-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  margin: 0;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #0056b3;
}

.profile-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #ddd;
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-search-container {
    margin-top: 10px;
    width: 100%;
  }
  .navbar-search-input {
    width: 80%;
    margin-bottom: 10px;
  }
  .auth-buttons {
    width: 100%;
    justify-content: space-between;
  }
  .auth-buttons button {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.5em;
  }
  .navbar-search-input {
    width: 70%;
  }
  .auth-buttons button {
    width: 100%;
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .navbar-search-input {
    width: 60%;
  }
  .auth-buttons button {
    width: 100%;
  }
  .logo {
    font-size: 1.5em;
  }
}
