.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  margin: 0;
}

.logo {
  cursor: pointer;
  font-size: 2em;
  margin: 0;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.navbar-search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.navbar-search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-search-button:hover {
  background-color: #0056b3;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #0056b3;
}

.profile-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #ddd;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  color: #333;
  font-size: 0.9em;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
  color: #007BFF;
}

.dropdown-menu button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 10px;
  }
  
  .navbar-search-container {
    width: 80%;
    margin-top: 10px;
  }

  .navbar-search-input {
    width: 100%;
  }

  .auth-buttons button {
    width: 100px;
  }

  .dropdown-menu {
    top: 50px;
    width: 100%;
    right: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-search-container {
    width: 100%;
  }

  .navbar-search-input {
    width: 80%;
    margin-right: 5px;
  }

  .auth-buttons {
    justify-content: center;
    width: 100%;
  }

  .auth-buttons button {
    width: 100%;
  }

  .dropdown-menu {
    top: 50px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar-search-input {
    width: 80%;
  }

  .auth-buttons button {
    width: 100%;
  }

  .logo {
    font-size: 1.5em;
  }

  .dropdown-menu {
    top: 50px;
    width: 100%;
  }
}
