.movie-card {
  height: 400px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.movie-card img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.movie-card h2 {
  height: 50px;
  overflow: hidden;
  text-align: center;
}


@media (max-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .movie-card {
    height: 300px;
    width: 150px;
  }

  .movie-card img {
    height: 200px;
  }

  .movie-card h2 {
    height: 40px;
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-card {
    height: 250px;
    width: 130px;
  }

  .movie-card img {
    height: 150px;
  }

  .movie-card h2 {
    height: 35px;
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .movie-list {
    grid-template-columns: 1fr; 
  }

  .movie-card {
    width: 100%;
    height: auto;
  }

  .movie-card img {
    width: 100%;
    height: auto;
  }
}