.movie-card {
  height: 400px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.movie-card img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.movie-card h2 {
  height: 50px;
  overflow: hidden;
  text-align: center;
}