.movie-card {
  height: 400px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.movie-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.movie-card h2 {
  height: 50px;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 1024px) {
  .movie-card {
    width: 140px;
    height: 300px;
  }

  .movie-card img {
    height: 200px;
  }

  .movie-card h2 {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .movie-card {
    width: 100px;
    height: 250px;
  }

  .movie-card img {
    height: 150px;
  }

  .movie-card h2 {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .movie-card {
    width: 100%;
    height: auto;
  }

  .movie-card img {
    height: auto;
    max-width: 100%;
  }

  .movie-card h2 {
    font-size: 0.7em;
  }
}
