.signup-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.signup-form h2 {
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.signup-input {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-button {
  width: 50%; 
  margin: 10px 0;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

.kakao-signup-button {
  width: 50%;
  margin: 10px 0;
  padding: 12px;
  background-color: #FFEB00; 
  color: #3c1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kakao-signup-button:hover {
  background-color: #FFDD00;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.success-message {
  color: green;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .signup-container {
    width: 90%;
    padding: 15px;
    box-shadow: none; 
  }

  .signup-form h2 {
    font-size: 1.5em;
  }

  .signup-input {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
  }

  .signup-button,
  .kakao-signup-button {
    width: 100%; 
  }

  .signup-button {
    padding: 10px;
    font-size: 1em; 
  }

  .kakao-signup-button {
    padding: 10px;
    font-size: 1em; 
  }
}

@media (max-width: 480px) {
  .signup-container {
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }

  .signup-input {
    padding: 8px;
    font-size: 0.8em; 
  }

  .signup-button,
  .kakao-signup-button {
    padding: 10px;
    font-size: 0.9em; 
}}

